.cell {
  width: 30px;
  height: 30px;
  background-image: linear-gradient(
    to right,
    var(--cell-yellow) 0%,
    var(--cell-purple) 51%,
    var(--cell-yellow) 100%
  );
  text-align: center;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  display: block;

  box-shadow: rgba(50, 50, 93, 0.114) 0px 13px 27px -5px, rgba(0, 0, 0, 0.192) 0px 8px 16px -8px;

  font-size: 10px;
  color: black; 
}

.cell:hover {
  background-position: right center;
}

.clickedCell{
  width: 30px;
  height: 30px;
  background-color: var(--clickedCell-purple);
  box-shadow: 0 0 20px #eee;
  border-radius: 4px;
  box-shadow: rgba(127, 135, 72, 0.25) 0px 30px 60px -12px inset, rgba(112, 102, 102, 0.3) 0px 18px 36px -18px inset;
}

