.ScoreTable{
    background: linear-gradient(90deg, var(--interface-purple), var(--interface-green));
    width: 480px;
    height: 65px;
    padding: 25px 20px 10px 20px;

    display: flex;
    text-align: center;

    box-shadow: 
        rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, 
        rgba(50, 50, 93, 0.25) 0px 50px 100px -5px, 
        rgba(0, 0, 0, 0.3) 0px 30px 80px -15px;
}

.image{
    width: 60px;
}